<div class="color-azul">
  <div style="text-align:center">
    <h1 class="m-5 text-monospace text-uppercase font-weight-bold text-info">
      Bienvenido a Cavacuna
    </h1>
  </div>

  <!-- <pre *ngIf="auth.userProfile$ | async as profile">
    <code>{{ profile | json }}</code>
  </pre> -->



  <div class="container">

    <div class="accordion" id="accordionExample">
      <div *ngIf="isUserVerified && !isFetching && devices !== null">
        <app-cavacuna *ngFor="let deviceElement of devices; let j = index" [device]="deviceElement" [i]="j">
        </app-cavacuna>
      </div>

      <h5 *ngIf="!isFetching && !isAdmin" class="container text-center mt-3">
        ¿Interesado en ser administrador? Contáctenos <a href="mailto:cavacuna.project@gmail.com">aquí</a>
      </h5>

      <div *ngIf="isUserVerified && !isFetching && devices !== null && devices.length == 0" class="alert alert-primary"
        role="alert">
        Al parecer no tiene heladeras asignadas, por favor contacte a su
        administrador.
      </div>
    </div>

    <button id="modalVerification" type="button" class="btn btn-primary" data-toggle="modal"
      data-target="#exampleModalCenter" [hidden]="true">
      Launch modal
    </button>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">
              Verifique su usuario
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Por favor, verifique su dirección de mail para acceder a todas las
            funcionalidades del sitio.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>