<!-- <div class="container">
    <div class="row">
        <div class="col-3 py-3 lightBg" id="sticky-sidebar">
            <div class="container">
                <div class="sticky-top">
                    <h2>sidenav</h2>
                    ...
                </div>
            </div>
        </div>
        <div class="col" id="main">
            <div class="container">
                <h1>Main Area</h1>
                ...
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row border-bottom">
        <h2 class="ml-3">Usuario</h2>
    </div>
    <div class="row container mt-2">
        <div class="container">
            <div class="row mt-2">
                <div class="col-lg-2 col-sm-3">
                    <h5>Cambiar mail:</h5>
                </div>
                <div class="col-lg-10 col-sm-9">
                    <input class="w-75 form-control" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="row container mt-2">
        <div class="container">
            <div class="row mt-2">
                <div class="col-lg-2 col-sm-3">
                    <h5>Cambiar contraseña:</h5>
                </div>
                <div class="col-lg-10 col-sm-9">
                    <input class="w-75 form-control" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="row container mt-2">
        <div class="container">
            <div class="row mt-2">
                <div class="col-lg-2 col-sm-3">
                    <h5>Confirmar contraseña:</h5>
                </div>
                <div class="col-lg-10 col-sm-9">
                    <input class="w-75 form-control" type="text">
                </div>
            </div>
        </div>
    </div>

    <div class="row border-bottom mt-5">
        <h2 class="ml-3">Cavacuna</h2>
    </div>
    <div class="row container mt-2">
        <div class="container">
            <div class="row mt-2">
                <div class="col-lg-2 col-sm-3">
                    <h5>Frecuencia de reportes:</h5>
                </div>
                <div class="col-lg-10 col-sm-9">
                    <input class="w-25 form-control" type="number" min="0">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="form-group row">
            <div class="col-md-3"></div>
                <div class="mt-5 col-md-6 col-sm-12">
                    <button type="submit" class="btn btn-primary btn-block">Guardar Cambios</button>
                </div>
            <div class="col-md-3"></div>            
        </div>
    </div>