<div class="container pt-3">
    <div id="login-row" class="row justify-content-center pb-5">
        <div class="col-md-12 align-self-center pb-5">

            <h1 class="text-center">Facilitar tu gestión de vacunas es nuestra misión</h1>

        </div>

    </div>

    <div class="container pb-5">
        <img class="medicine pb-5" src="../../../assets/img/med.svg" alt="" draggable="false">
    </div>

</div>

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-4 col-sm-12 mb-5 text-center">
            <img class="heroImage pb-2" src="../../../assets/img/file.svg" alt="reporte" draggable="false">
            <h4>Genera tus reportes.</h4>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-5 text-center">
            <img class="heroImage pb-2" src="../../../assets/img/tools.svg" alt="configuración" draggable="false">
            <h4>Monitorea tus heladeras.</h4>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-5 text-center">
            <img class="heroImage pb-2" src="../../../assets/img/gear2.svg" alt="preferencias" draggable="false">
            <h4>Se administrador y gestiona tus usuarios.</h4>
        </div>
    </div>
</div>