<div class="container pb-5">

  <nav class="navbar navbar-expand-lg navbar-custom bg-custom">
    <a class="navbar-brand" routerLink="">
      <img class="cavacuna-logo" src="../../../assets/img/logov3.svg" alt="Cavacuna">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <img src="../../../../assets/img/hamburguer.svg" alt="menu">
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <h5><a class="nav-link text-black-50" routerLink="/signup">Registrate</a></h5>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <h5><a class="nav-link text-black-50" routerLink="/login">Iniciar sesión</a></h5>
        </li>
        <li *ngIf="!auth.loggedIn" (click)="auth.login('/inicio')" class="nav-item">
          <h5><a class="nav-link text-black-50" routerLink="">Ingresar</a></h5>
        </li>
        <li *ngIf="auth.loggedIn" (click)="auth.logout()" class="nav-item">
          <h5><a class="nav-link text-black-50" routerLink="">Salir</a></h5>
        </li>
      </ul>
      <!-- <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img class="profile-icon" src="../../../../assets/img/profile-icon.svg" alt="perfil">
                    <span>Mi perfil</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-default"
                    aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="#">Configuración</a>
                    <a class="dropdown-item" href="#">Cerrar Sesión</a>
                  </div>
                </li>
              </ul> -->
    </div>


  </nav>

</div>