.profile-icon {
    width: 30px;
    height: auto;
}

.cavacuna-logo {
    width: 200px;
    height: auto;
    margin: auto;
    /* padding: 0 0 20px 0;
    display: block; */
}

.pointer {
    cursor: pointer;
}


button {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    cursor: pointer;
}