.profile-icon{
    width: 30px;
    height: auto;
}

.cavacuna-logo{
    width: 200px;
    height: auto;
    margin: auto;
    /* padding: 0 0 20px 0;
    display: block; */
}

.pointer{
    cursor: pointer;
}