<!-- 
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="modal-body mx-3" [formGroup] = "userForm" (ngSubmit) = "onSubmit()">
        
        <div class="input-group">

                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-name" class="form-control validate rounded" placeholder="Your name" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{5,20}$" formControlName = "username" required>
                <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>      

        </div>
        <small id="emailHelp" class="form-text text-muted">Debe ser de más de 5 caracteres. No debe empezar con un número.</small>
          
        <br>

        <div class="input-group">

                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="email" id="orangeForm-email" class="form-control validate rounded" placeholder="Your email" formControlName = "mail" required>
                <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>      

        </div>
          
        <br>
        
        <div class="input-group">

                <i class="fas fa-lock prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" class="form-control validate rounded" placeholder="Your password" pattern="^(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" formControlName = "password" required>
                <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
                <img class="help-icon input-group-append" id="help-button" src="../../../assets/img/help.svg" alt="ayuda">
              
        </div>
        <small id="emailHelp" class="form-text text-muted">Debe ser de mas de 8 caracteres.</small>
          
        <br>

        <button class="btn btn-info btn-md" [disabled] = "!userForm.valid">Registrate</button>
        <p>your status is: {{ userForm.status }}</p>

    </form>
      
      
    </div>
  </div>
</div> -->

<div class="container h-100">
        <div id="login-row" class="row justify-content-center">
                <div class="col-md-12 align-self-center">

                        <h3 class="text-center">Registrate</h3>

                </div>
                <div class="col-md-3"></div>
                <div id="login-column" class="col-md-6 align-self-center">
                        <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                                <div class="card-body">
                                        <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">

                                                <div class="input-group">

                                                        <i class="fas fa-user prefix grey-text"></i>
                                                        <img class="input-group-prepend pr-2"
                                                                src="../../../assets/img/user.svg" alt="usuario">
                                                        <input type="text" id="orangeForm-name"
                                                                class="form-control validate rounded"
                                                                placeholder="usuario"
                                                                pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{5,20}$"
                                                                formControlName="username" required>

                                                </div>
                                                <small id="userHelp" class="form-text text-muted">Debe ser de más de 5
                                                        caracteres. No debe empezar con un número.</small>

                                                <br>

                                                <div class="input-group">

                                                        <i class="fas fa-envelope prefix grey-text"></i>
                                                        <img class="input-group-prepend pr-2"
                                                                src="../../../assets/img/mail.svg" alt="mail">
                                                        <input type="email" id="orangeForm-email"
                                                                class="form-control validate rounded"
                                                                placeholder="email" formControlName="mail" required>

                                                </div>

                                                <br>

                                                <div class="input-group">

                                                        <i class="fas fa-lock prefix grey-text"></i>
                                                        <img class="input-group-prepend pr-2"
                                                                src="../../../assets/img/password.svg" alt="contraseña">
                                                        <input type="password" id="orangeForm-pass"
                                                                class="form-control validate rounded"
                                                                placeholder="contraseña"
                                                                pattern="^(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                                                                formControlName="password" required>

                                                </div>
                                                <small id="emailHelp" class="form-text text-muted">Debe ser de mas de 8
                                                        caracteres y contener al menos un número, una letra minúscula y
                                                        una mayúscula.</small>

                                                <br>

                                                <button class="btn btn-info btn-md btn-block"
                                                        [disabled]="!userForm.valid">Registrate</button>
                                                <p>your status is: {{ userForm.status }}</p>

                                        </form>
                                </div>
                        </div>
                        <div class="col-md-3"></div>
                </div>

        </div>